*{
  font-family: 'Times New Roman', Times, serif;
}
#title {
  padding-bottom: 10px;
  position: absolute;
  left: 150px;
  top: -52%;
  width: 37%;
  text-align: center;
  font-weight: bold;
} 

.nav-wrapper {
  position: relative;
    
}

.exampleQuote1{
  position: relative;
  font-size: 21px;
  left: 400px;
  top: -3%;
  width: 57%;
}



.header {
position: absolute;
top: 2rem;
left: 44rem;
}

.exampleQuote2 {
font-size: 17px;
position: absolute;
top: 10rem;
left: 37rem;
}

.input-field {
  position: relative;
  margin-top: 9rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 85rem;
  left: 31rem;
}


.input-field2 {
  position: relative;
  margin-top: 9rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 85rem;
  top: -12rem;
  left: 55rem;
}
